
.edit-project-container{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: solid black 2px;
}



input{
    border: solid black 3px;
    background-color: white;
    outline: none;
    padding: 3px 2px;
    width: 75%;
}

#edit-dialog-button{
    margin-bottom: 10px;
    box-shadow: black 3px 2px;
}