html{
    padding: 0;
    margin: 0;
    font-size:18px;
}
* {
    font-family: "Comic Sans MS";
    box-sizing: border-box;
}
body{
    padding: 40px 30px 40px 20px;
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 100px 1fr;

}

aside{
    position: relative;
    left: 3px;
    top: 200px;
}

aside > div{
    border: solid black 3px;
    margin-bottom: 3px;
    border-right: solid white 3px !important;
    border-radius: 0;
}

header{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.projects-container{
    flex:1;
    display: flex;
    gap: 1vw;
}

#projectNameInput{
    flex: 1;
    max-width: 55vw;
    border: solid black 3px;
}

#projectSelect{
    border: solid black 3px;
    background-color: white;

}

fieldset{
    border: black 1px solid;
}

main{

    width: 100%;

}


section{
    box-sizing: border-box;
    width: 100%;
    border: solid black 3px;
    height: 60vh;
    padding: 10px;

}

table{
border: solid black 3px;
    width: 100%;
    border-collapse: collapse;
}

table  th{
    background-color: grey;
    border: solid black 2px;
    margin: 0;
}